<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input disabled [(ngModel)]="aluno.id" id="disabled" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled [(ngModel)]="aluno.nome" id="disabled" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled [(ngModel)]="aluno.email" id="disabled" type="text" class="validate">
            </div>
        </div>
    </div>
</div>